<div class="cards mt-5">
  <div class="card">
    <h4 class ="card-header">
      <%= booking.ship.name %>
    </h4>
    <div class="card-body d-flex justify-content-between">
      <%= cl_image_tag booking.ship.photo.key, class: "w-25" if booking.ship.photo.attached? %>
      <div class="d-flex">
        <div class="owner ml-1 ">
          <h5>Owner</h5>
          <p classe ='card-title'>
            <%= booking.ship.user.nickname.capitalize %>
          </p>
        </div>
        <div class="owner">
          <h5>User</h5>
          <p classe ='card-title'>
            <%= booking.user.nickname.capitalize %>
          </p>
        </div>
        <div class="start mr-2">
          <h5>Starting Date</h5>
          <p>
            <%= booking.date_start %>
          </p>
        </div>
        <div class="end">
          <h5> Ending Date</h5>
          <p>
            <%= booking.date_end %>
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex d-flex justify-content-around align-items-center" >
      <div class="status">
        <h5>Status:</h5>
        <p><%=booking.status.capitalize %></p>
      </div>
      <div class="crew">
        <h5>Attendants:</h5>
        <p> <%= number_with_delimiter(booking.crew_size, delimiter:'.') %></p>
      </div>
      <div class="total-amount">
        <h5>Amount:</h5>
        <p> <%= number_with_delimiter(booking.total_amount, delimiter:'.') %> 👾</p>
      </div>
      <% if  booking.ship.user_id == current_user.id && booking.status.downcase == 'pending'%>
        <div class="buttons">
          <%= link_to decline_booking_path(booking), method: :patch do %>
            <button class = 'btn btn-danger'>Decline</button>
          <% end %>
            <%= link_to validate_booking_path(booking), method: :patch do %>
            <button class = 'btn btn-success'>Accept</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
