<div class="card-product">
  <%= cl_image_tag booking.ship.photo.key if booking.ship.photo.attached? %>
  <div class="card-product-info">
    <div class="card-title"><%= booking.ship.name %></div>
    <div class="d-flex">
      <div>
        <h2>Owner</h2>
        <div><%= booking.ship.user.nickname.capitalize %></div>
      </div>
      <div>
        <h2>User</h2>
        <div><%= booking.user.nickname.capitalize %></div>
      </div>
      <div>
        <h2>Starting Date</h2>
        <div><%= booking.date_start %></div>
      </div>
      <div>
        <h2> Ending Date</h2>
        <div><%= booking.date_end %></div>
      </div>
      <div>
        <h2>Attendants</h2>
        <div> <%= number_with_delimiter(booking.crew_size, delimiter:'.') %></div>
      </div>
      <div>
        <h2>Amount</h2>
        <div> <%= number_with_delimiter(booking.total_amount, delimiter:'.') %> 👾</div>
      </div>
      <div>
        <h2>Status</h2>
        <div><%=booking.status.capitalize %></div>
      </div>
      <% if  booking.ship.user_id == current_user.id && booking.status.downcase == 'pending'%>
        <div class="buttons d-flex justify-content-center">
          <%= link_to decline_booking_path(booking), method: :patch do %>
            <button class = 'btn btn-danger'>Decline</button>
          <% end %>
          <%= link_to validate_booking_path(booking), method: :patch do %>
            <button class = 'btn btn-success'>Accept</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>