<div class="card-product">
  <%= cl_image_tag booking.ship.photo.key if booking.ship.photo.attached? %>
  <div class="card-product-info">
    <div><%= booking.ship.name %></div>
    <div class="d-flex">
      <div>
        <div>Owner</div>
        <div><%= booking.ship.user.nickname.capitalize %></div>
      </div>
      <div>
        <div>User</div>
        <div><%= booking.user.nickname.capitalize %></div>
      </div>
      <div>
        <div>Starting Date</div>
        <div><%= booking.date_start %></div>
      </div>
      <div>
        <div> Ending Date</div>
        <div><%= booking.date_end %></div>
      </div>
      <div>
        <div>Attendants:</div>
        <div> <%= number_with_delimiter(booking.crew_size, delimiter:'.') %></div>
      </div>
      <div>
        <div>Amount:</div>
        <div> <%= number_with_delimiter(booking.total_amount, delimiter:'.') %> 👾</div>
      </div>
      <div>
        <div>Status:</div>
        <div><%=booking.status.capitalize %></div>
      </div>
      <% if  booking.ship.user_id == current_user.id && booking.status.downcase == 'pending'%>
        <div class="buttons d-flex justify-content-center">
          <%= link_to decline_booking_path(booking), method: :patch do %>
            <button class = 'btn btn-danger'>Decline</button>
          <% end %>
          <%= link_to validate_booking_path(booking), method: :patch do %>
            <button class = 'btn btn-success'>Accept</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>