<%= link_to ship_path(ship.id), class: "card-img" do %>
  <div class="card c-ship" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('<%= cl_image_path ship.photo.key %>')">
    <h3 class="c-ship-name"><%= ship.name %></h3>
    <div class="c-ship-details">
      <h3 class="d-flex justify-content-end"><%= ship.crew_capacity %> <i class="fas fa-users"></i></h3>
      <h3 class="d-flex justify-content-end"><%= ship.purpose.capitalize if ship.purpose %> 
        <% if ship.purpose == 'war' %>
          <div>
            <i class="fas fa-bomb"></i>
          </div>
        <% elsif ship.purpose == 'holiday' %>
          <div>
            <i class="fas fa-umbrella-beach"></i>
          </div>
        <% elsif ship.purpose == 'galactical space party' %>
          <div>
            <i class="fas fa-glass-cheers"></i>
          </div>
        <% elsif ship.purpose == 'planet eradication' %>
          <div>
            <i class="fas fa-meteor"></i>
          </div>
        <% elsif ship.purpose == 'race' %>
          <div>
            <i class="fas fa-fighter-jet"></i>
          </div>
        <% end %>
      </h3>
      <h3 class="d-flex justify-content-end"><%= ship.size.capitalize %> 
        <% if ship.size == 'micro' %>
          <div>
            <i class="fas fa-atom"></i>
          </div>
        <% elsif ship.size == 'small' %>
          <div>
            <i class="fas fa-dot-circle"></i>
          </div>
        <% elsif ship.size == 'big' %>
          <div>
            <i class="fab fa-docker"></i>
          </div>
        <% elsif ship.size  == 'planetwide' %>
          <div>
            <i class="fas fa-globe"></i>
          </div>
        <% end %>
      </h3>
      <h3 class="d-flex justify-content-end"><%= "#{number_with_delimiter(ship.price_per_day, delimiter: '.')} ₹"%></h3>
    </div>
  </div>
<% end %>