<div class="home" id="home">
  <div class="container">
    <div class="banner-content">
      <h1 class="home-title text-center">STARSHIPS<br>LOOTERS</h1>
      <div class="sub d-flex justify-content-center align-items-center">
        <p class="subtitle text-center">The best spaceship rent service of the universe! </p>
        <i class="fas fa-space-shuttle ml-1"></i>
      </div>
        <br>
      <div class="text-center"><h1><%= link_to "Start your ride now!", ships_path(), class: "btn btn-success" %></h1></div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2>Ships selection</h2>
  <div class="cards c-home">
    <% @ships.each do |ship| %>
      <div class="card">
        <%= cl_image_tag ship.photo.key, :effect=>"gradient_fade:0.1,y_-0.1" rescue image_tag 'missing.jpg' %>
        <div class="card-body">
          <h3><%= ship.name %></h3>
          <div class="price"><%= "#{number_with_delimiter(ship.price_per_day, delimiter: '.')} ₹"%> /day</div>
          <p><%= ship.description %></p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div>
            <%= link_to "More info", ship_path(ship.id), class: "card-link text-primary" %>
          </div>
          <div>
            <!-- <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, ship_path(ship), method: :delete, data: { confirm: "Are you sure?"}, class: "trash pr-2" %> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


