<div class="container-ship-index">

  <div class="d-flex justify-content-between mt-3">
    <h2 class="ml-3">My ships</h2>
    <div class="mr-3">
      <%= simple_form_for :search, url: my_ships_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :name, input_html: {value: ""}, label: false, placeholder: 'Find the perfect ship...' %>   
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-end mr-3 mb-5">
    <% if @all_my_ships === true %>
      <div><%= link_to "Back to all my ships", my_ships_path %></div>
    <% end %>
  </div>

  <div class="cards c-index">
    <% @ships.each do |ship| %>
      <div>
        <%= render 'shared/ship_card', ship: ship %>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
              <%= link_to "More info", ship_path(ship.id), class: "card-link text-primary" %>
            </div>
            <div>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_ship_path(ship.id), class: "edit pr-2" %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, ship_path(ship), method: :delete, data: { confirm: "Are you sure?"}, class: "trash pr-2" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex m-3">
    <%= link_to "Add new ship", new_ship_path, class: "btn btn-primary mr-3" %>
    <%= link_to "All ships", ships_path, class: "btn btn-primary" %>
  </div>
</div>