<div class="container">
  <ul class="list-group shadow-sm">
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="ss-header-text">
          <div class = 'd-flex justify-content-between align-items-center mb-5'>
            <h2><%= @ship.name %></h2>
            <div class = 'pr-3'>
              <% if current_user.id === @ship.user.id %>
                <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_ship_path(@ship.id), class: "edit pr-2" %>
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, ship_path(@ship), method: :delete, data: { confirm: "Are you sure?"}, class: "trash" %>
              <% end %>
            </div>
          </div>
          <div class= 'pt-1'>
            <h5>Description</h5>
            <div><%= @ship.description.capitalize %></div>
            <% if current_user.id === @ship.user.id %>
              <div class="text-center">
                <%= link_to "You can't book your own ship!", '#', class: "btn btn-light w-75 mt-5" %>
              </div>
            <% else %>
              <div class="text-center">
                <%= link_to "Book it now", new_ship_booking_path(@ship.id), class: "btn btn-primary w-75 mt-5" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="ss-header-img">
          <%= cl_image_tag @ship.photo.key, class: "ship-show-picture" if @ship.photo.attached? %>
        </div>
      </div>
    </li>
    <div>
      <button id="ss-show-details" class="btn btn-primary w-100">Show details</button>
    </div>
    <div class="d-none" id="ss-ship-details">
      <li class="list-group-item d-flex">
        <h5>Location</h5>
        <div><%= @ship.location.capitalize %></div>
      </li>
      <li class="list-group-item d-flex">
        <h5>Purpose</h5>
        <% if @ship.purpose == 'war' %>
          <div>
            <i class="fas fa-bomb"></i>
            <%=  @ship.purpose.capitalize if @ship.purpose %>
          </div>
        <% elsif @ship.purpose == 'holiday' %>
          <div>
            <i class="fas fa-umbrella-beach"></i>
            <%=  @ship.purpose.capitalize if @ship.purpose %>
          </div>
        <% elsif @ship.purpose == 'galactical space party' %>
          <div>
            <i class="fas fa-glass-cheers"></i>
            <%=  @ship.purpose.capitalize if @ship.purpose %>
          </div>
        <% elsif @ship.purpose == 'planet eradication' %>
          <div>
            <i class="fas fa-meteor"></i>
            <%=  @ship.purpose.capitalize if @ship.purpose %>
          </div>
        <% elsif @ship.purpose == 'race' %>
          <div>
            <i class="fas fa-fighter-jet"></i>
            <%=  @ship.purpose.capitalize if @ship.purpose %>
          </div>
        <% end %>
      </li>
      <div class="d-flex">
        <li class="list-group-item w-50 d-flex">
          <h5>Size</h5>
          <div><%= @ship.size %></div>
        </li>
        <li class="list-group-item w-50 d-flex">
          <h5>Crew capacity</h5>
          <div><%= number_with_delimiter(@ship.crew_capacity, delimiter: '.') %></div>
        </li>
      </div>
      <li class="list-group-item d-flex">
        <h5>Price per day</h5>
        <div><%= "#{number_with_delimiter(@ship.price_per_day, delimiter: '.')} ₹"%></div>
      </li>
      <li class="list-group-item d-flex">
        <h5>Availability</h5>
        <div><%= @available_status %></div>
      </li>
    </div>
  </ul>

<%= link_to "Back", ships_path, class: "" %>
