<h1><%= @ship.name %></h1>

<ul>
    <li>description: <%= @ship.description %></li>
    <li>location: <%= @ship.location %></li>
    <li>purpose: <%= @ship.purpose %></li>
    <li>size: <%= @ship.size %></li>
    <li>crew_capacity: <%= @ship.crew_capacity %></li>
    <li>price per day: <%= @ship.price_per_day %></li>
    <li>Available?: <%= @ship.available %></li>
</ul>