<h1><%= @ship.name %></h1>

<ul class="list-group shadow-sm">
    <li class="list-group-item">description: <%= @ship.description.capitalize %></li>
    <li class="list-group-item">location: <%= @ship.location.capitalize %></li>
    <li class="list-group-item">purpose: <%=  @ship.purpose.capitalize if @ship.purpose %></li>
    <li class="list-group-item">size: <%= @ship.size %></li>
    <li class="list-group-item">crew_capacity: <%= @ship.crew_capacity %></li>
    <li class="list-group-item">price per day: <%= "#{number_with_delimiter(@ship.price_per_day, delimiter: '.')} ₹"%></li>
    <li class="list-group-item">Available?: <%= @available_status %></li>
</ul>